body {
	padding: 50px;
}

h1 {
	display: inline-block;
}

#top-row button {
	float: right;
}

#graph-buttons button {
	float: right;
}

#bottom-row div {
	display: inline-block;
}

#devices {
	position: relative;
	float: right;
}

#piechart {
	position: absolute;
	float: right;
/*	transform: translateX(200px);*/
}